<div class="container" style="padding: 0px 200px;">

<h2>Edit TodoList</h2>
<%= simple_form_for [:account,@todo_list ] do |f| %>

<%= f.input :title %>
<%= f.input :description %>

<%= f.submit "Submit", data: { disable_with: "Submiting"} %>
<% end %>
</div>
